body {
  background-color: grey;
}
.container {
  width: 1271px;
  margin: 0 auto;
}
il {
  font-family: Roboto;
  font-size: 11px;
  font-weight: 700;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
  margin-right: 35px;
}
.sec1 {
  margin-top: 71px;
}
.h1 {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.img1 {
  width: 362px;
  height: 186px;
  top: -381px;
  left: -583px;
  border-radius: 5px, 5px, 0px, 0px;
}
.div1 {
  width: 362px;
  height: 171px;
  border-radius: 0px, 0px, 5px, 5px;
  background-color: #ffffff;
}
.p1 {
  padding-top: 68px;
  padding-left: 37px;
}
.img2 {
  padding-top: 11px;
  padding-left: 40px;
}
.p2 {
  width: 34px;
  height: 12px;
  margin-left: 11px;
  margin-bottom: 46px;
}
.div2 {
  display: flex;
  flex-direction: row;
}
